/* #011627 black - kicsit sötétebb feketére váltottam, az szebb együtt szerintem*/
/* palevioletred - pink*/

*{
    --background: #141414;
    --color: palevioletred;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html{
    background-color: var(--background);
}

body{
    background-color: var(--color);
    width: 80%;
    margin: auto;
    margin-block: 1.5rem;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nav {
    display: inline;
    flex-direction: row;
    padding-block: 1rem;
    margin-left: 1rem;
}

.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-item {
    margin-right: 20px;
    
}

.nav-link {
    text-decoration: none;
    color: black;
    display: block;
    padding: 8px;
    background-color: #dddddd;
    border-radius: 0.3rem;
    border: 1px solid var(--color);
}

.nav-link:hover{
        background-color: var(--color);
        border: solid black 1px;
        transition: 0.3s;
}


@media screen and (max-width: 1024px) {
    .nav-list {
        display: none;
        flex-direction: column; 
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #f9f9f9;
        width: 100%;
        z-index: 1;
    }
    
}
